#box {
    padding: 40px 20px;
    text-align: center;
}
#box .container {
    background-color: hsl(256, 26%, 20%);
    background-image: url('../../images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
    color: white;
    padding: 40px 20px;
}
#box .container .title {
    font-size: 44px;
    margin-bottom: 40px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}
#box .box-button {
    padding: 10px;
    color: white;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    #box .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #box .container .title {
        margin: 0;
    }
}