#box {
    padding: 40px 20px;
    text-align: center;
}
#box .container {
    background-color: hsl(256, 26%, 20%);
    background-image: url('../../images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
    color: white;
    padding: 40px 20px;
}
#box .container .title {
    font-size: 44px;
    margin-bottom: 40px;
}
#box .box-button {
    padding: 10px;
    color: white;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    text-transform: uppercase;
}