#footer {
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}
.footer-header {
    background-image: url('../../images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    border-bottom: 1px solid hsl(273, 4%, 51%);
    margin-bottom: 20px;
    padding: 80px;
    height: 200px;
}
#footer .social {
    display: flex;
    justify-content: space-around;
}
.footer-logo {
    margin-bottom: 20px;
}

.menu-footer .title {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: hsl(273, 4%, 51%);
    font-weight: 700;
    letter-spacing: 1px;
}
.menu-footer-list {
    margin-bottom: 50px;
    list-style: none;
}
.menu-footer-list li {
    text-transform: uppercase;
    margin: 10px 0;
    color: hsl(256, 26%, 20%);
    font-weight: 700;
}

@media (min-width: 768px) {
    #footer {
        background-image: url('../../images/bg-pattern-footer-desktop.svg');
        background-repeat: no-repeat;
    }
    .footer-header {
        background-image: none;
        height: auto;
    }
    .footer-logo {
        margin-bottom: 0;
    }
    #footer .container {
        max-width: 1200px;
        margin: 0 auto;
        text-align: left;
        padding-top: 20px;
    }
    .footer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 80px;
    }
    #footer .social {
        gap: 20px;
    }
    .menus {
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
    }
}