/*------------------------*/
/*------ HOME ------------*/
/*------------------------*/
#home {
    background-color: hsl(256, 26%, 20%);
    text-align: center;
    color: white;
}
#home .img-background {
    background-image: url('../../images/image-intro-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 433px;
}
#home .content {
    padding: 60px 15px;
    background: url('../../images/bg-pattern-intro-left-mobile.svg') no-repeat top left,
                url('../../images/bg-pattern-intro-right-mobile.svg') no-repeat right 300px;
}
#home .title {
    font-size: 44px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}
#home .description {
    padding: 20px;
    line-height: 25px;
}
#home .button-view-plans {
    padding: 10px 25px;
    color: white;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
/*------------------------*/
/*------ MEDIA QUERY -----*/
/*------------------------*/
@media (min-width: 768px) {
    #home {
        margin-bottom: 90px;
        background: url('../../images/bg-pattern-intro-left-desktop.svg') no-repeat 0 230px,
                url('../../images/bg-pattern-intro-right-desktop.svg') no-repeat right 0% bottom 100px,
                hsl(256, 26%, 20%);
    }
    #home .container {
        display: flex;
        text-align: left;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
    #home .content {
        background-image: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #home .container .img-background {
        width: 50%;
        order: 2;
        position: relative;
        top: 98px;
    }
    #home .description {
        padding: 20px 0;
    }
    #home .button-view-plans {
        max-width: 150px;
    }
}