/*------------------------*/
/*------ HEADER ------*/
/*------------------------*/
#header {
    background-color: #fff;
}
#header .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.button-mobile {
    border: none;
    background: transparent;
    cursor: pointer;
}
.menu {
    display: none;
}


/*------------------------*/
/*------ ATTIBUTION ------*/
/*------------------------*/
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}